.divPdv{
    background-color: red;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 5% 95%;

    & .divLeft{
        background-color: #316BB8;
    }

    & .divRight{

        background-color: aliceblue;
        & .divSupInf{
            display: grid;
           grid-template-rows: 10vh 90vh; 

           & .divSup{
            background-color: #262525;
             display:grid;
             grid-template-columns: 20% 55% 20%;

             & #nameEmpresa{
                height: 50%;
                float: auto;
                text-align: center;
                margin-top: 5%;
             }
             & #searchdiv{
                display: grid;
                grid-template-columns: 75px 55% 200px;

                & #quantInput{
                    width: 70px;
                    height: 50px;
                    float: auto;
                    margin-top:10px;
                    border: solid 1px white;
                    border-radius: 10px;
                    justify-content: center;
                    text-align: center;
                    font-size: 25px;
                    background-color:#7C7C7C;
                    color:#F5F5F5
                }

                & #search{
                    height: 50px;
                    float: auto;
                    margin-top:10px;
                    border: solid 1px white;
                    border-radius: 10px;
                    padding-left: 30px;
                    font-size: 25px;
                    margin-left: 15px;
                    background-color:#7C7C7C;
                    color:#F5F5F5
                }
                & #btnSearch{
                    height: 50px;
                    background-color: #0d2663;
                    margin-top: 12px;
                    margin-left: 5px;
                    margin-right: 10px;
                    border: solid 1px white;
                    border-radius: 5%;
                    float: left;
                    color:#F5F5F5;
                    font-size: 18px;
                    cursor: pointer;

                }
                & #btnSearch:hover{
                    box-shadow: 1px 1px 10px 1px rgb(244, 243, 243);
                }
                & ::placeholder{
                    color: #F5F5F5;
                }
             }
             & #nameLogin{
                height: 50%;
                float: auto;
                text-align: center;
                margin-top: 5%;
             }
           }
           & .divInf{
            background-color: white;
                display: grid;
                grid-template-columns: 75% 25%;

            & .divInfLisOfSales{
                background-color: white;
          
                display: grid;
                grid-template-rows: 72% 28%;

                & .divListSales{
                    height: 550px;
                    padding-bottom: 50px;
                    color: #262525;

                    & #md-dv-li{
                        height: 45px;
                        background-color: #0d2663;
                        color:white;

                        &  #md-ul-li{

                            & #md-li{
                                padding-top:10px;
                                padding-left: 15px;
                                text-transform: uppercase;
                                display: grid;
                                grid-template-columns: 100px 600px 100px 150px 150px;
                            }
                        }
                    }
                }
                & .divSaleTot{
                    display: grid;
                    grid-template-columns: 25% 75%;
                    background-color: #454944;

                    & #tot{
                        display:grid;
                        grid-template-columns: 50% 50%;

                        & h1{
                            width: 100%;
                            height: 70px;
                            margin-top: 85px;
                            text-align: center;
                            padding-top: 25px;
                            font-size: 50px;
                        }
                        & #vTotal{
                            margin-left: -5px;
                        }
                    }
                    & #methodPayment{

                        display: grid;
                        grid-template-columns: 50% 50%;
                        & #payment{
                            display: grid;
                            grid-template-rows: 50px 50px;
                            padding-top: 70px;
                            padding-left: 60px;
                            padding-right: 60px;

                            & select{
                                font-size: 30px;
                                padding-left: 10px;
                                background-color: #e3e8e8;
                                color: black;
                                border-radius: 10px;
                            }
                        }
                        & #finish{

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            & button{
                                width: 230px;
                                height: 50px;
                                margin-top: 25px;
                                font-size: 25px;
                                background-color: #224566;
                                border:solid 2px white;
                                color: white;
                                cursor: pointer; 
                                border-radius: 10px;
                            }
                            & button:hover{
                                border:solid 1px #262525;
                                box-shadow: 1px 1px 13px white;
                            }
                        }
                    }
                    

                }
                    & #vTotal{
                        display: grid;
                        grid-template-columns: 50% 50%;

                        & #infTotal{
                            color: white;
                            float: left;
                            font-size: 50px;
                            margin-top: 20%;
                            padding-right: 0px;
                            margin-right: 0px;
                            margin-left: 10%;
                        }
                        & #vTot{
                            color: white;
                            float: left;
                            font-size: 60px;
                            margin-top: 18%;
                            margin-left: 10px;
                            padding-left: 0px;
                        }
                    }
                }
                
                & ol{
                    height: 115%;
                    overflow: scroll;
                    margin-left: 0px;
                    padding-left: 50px;
                    background-color: rgb(195, 230, 218);
                    margin-top: -1px;
                    & li{
                        font-size: 25px;

                        & button{
                            width: 35px;
                            height: 35px;
                            float: left;
                            margin-top:-2px;
                            border: none;
                            background-color: rgb(195, 230, 218);
                            cursor: pointer;
                        }
                    }
                }
            }
            & .divMenuAtendente{
                background-color: #F5F5F5;

                & .funAtendente{
                    width: 46%;
                    margin-left: 2%;
                    margin-top: 3%;
                    height: 15%;
                    font-size: 27px;
                    color: #F5F5F5;
                    background-color: darkgreen;
                    cursor: pointer;
                }
                & .funAtendente:hover{
                    width: 47%;
                    margin-top: 2.5%;
                    height: 16%;
                    box-shadow: 1px 1px 20px rgb(117, 117, 116);
                    border: solid 1px white;
                }
            }

           }
        }
    }
}
.liProdutos{
    color: #262525;
}