.li-list-product{
    display: grid;
    grid-template-columns: 100px 750px 150px 150px 150px;
}
li#id1, li#id3, li#id5, li#id7, li#id9, li#id11, li#id13, li#id15, li#id17, li#id19, li#id21, li#id23, li#id25{
    background-color: rgb(213, 213, 213);

}